<label><input id="register-email-input" type="text" name="email-val" placeholder="Email" ></label>
<label><input id="register-username-input" type="text" name="username-val" placeholder="Username" ></label>
<label><input id="register-password-input" type="password" name="password-val" placeholder="Password" ></label>
<button id="user-register-submit">Create Account</button>
<p class="login">Already have an account? <a routerLink="/login" routerLinkActive="active" class="login-switch link">Login</a></p>
