<form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
  <div [ngClass]="{ 'has-error': f.submitted && !username.valid }">
      <label for="username">Username</label>
      <input type="text" name="username" [(ngModel)]="model.username" #username="ngModel" required />
      <div *ngIf="f.submitted && !username.valid">Username is required</div>
  </div>
  <div [ngClass]="{ 'has-error': f.submitted && !password.valid }">
      <label for="password">Password</label>
      <input type="password" name="password" [(ngModel)]="model.password" #password="ngModel" required />
      <div *ngIf="f.submitted && !password.valid">Password is required</div>
  </div>
  <div>
      <button [disabled]="loading">Login</button>
  </div>
</form>

<!-- Commented out html from registration tutorial to try html from login tutorial ---MS -->
<!-- <div class="container-fluid">
    <div class="row">
      <div class="col-auto">
  
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label class="sr-only" for="InputUserName"></label>
            <input type="text" class="form-control" id="InputUserName" placeholder="Username" formControlName="userName">
          </div>
          <div class="form-group">
            <label class="sr-only" for="InputPassword"></label>
            <input type="password" class="form-control" id="InputPassword" placeholder="Password" formControlName="password">
          </div>
          <button type="submit" class="btn btn-primary">Login</button>
  
          <p class="register">Need an account? <a routerLink="/register" class="login-switch link">Register</a></p>
        </form>
  
      </div>
    </div>
  </div>
 -->
