

<!-- This vertical tab container is from bootstrap. Not sure yet whether we need to download another package to make it work.
        See this link https://github.com/dbtek/bootstrap-vertical-tabs  ---MS -->

<div class="col-xs-3">
    <!-- required for floating -->
    <!-- Nav tabs -->
    <ul class="nav nav-tabs tabs-right">
        <li class="active"><a href="#home-r" data-toggle="tab">Home</a></li>
        <li><a href="#profile-r" data-toggle="tab">Profile</a></li>
        <li><a href="#messages-r" data-toggle="tab">Messages</a></li>
        <li><a href="#settings-r" data-toggle="tab">Settings</a></li>
    </ul>
</div>